.input-years-card {
  margin: 64px auto;
  width: 50vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  box-shadow:
   rgba(158, 158, 158, 0.09) 0 26px 26px,
   rgba(158, 158, 158, 0.1) 0 7px 15px;
   border-radius: 8px;
   border-top: 2px solid rgba(0, 0, 0, 1);
}

.question-card-number {
  align-self: baseline;
  color: rgba(0, 0, 0, 0.2);
}

.years-card-prompt {
  font-weight: 500;
  line-height: 135%;
  letter-spacing: -5%;
}
.years-card-prompt2 {
  color: rgba(0, 0, 0, 0.2);
}

.years-counter {
  font-family: Inter;
  font-size: 18px;
  border: 1px black solid;
  padding: 9px 10px;
  width: 52px;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.2);
  margin: 16px 0;
  text-align: center;
}

.years-selector {
  appearance: none;
  height: 6px;  
  background: #ccc;  
  border-radius: 3px;  
  outline: none;
  cursor: pointer;
}



.years-error-message {
  color: red;
  font-size: 14px;
  margin: 4px 0;
}

.years-continue-button {
  background-color: rgba(0, 0, 0, 1);
  padding: 8px 34px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}