.settings-page {
  margin: 16px auto;
  padding: 0 18px;
  width: fit-content;
}

.settings-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-heading h1 {
  margin: 0 auto;
  font-size: 20px;
}

.settings-close-button a {
  display: flex;
}

.settings-close-button {
  padding: 7px;
  border: none;
  background-color: rgba(230, 230, 230, 1);
  border-radius: 8px;
}

.settings-panel-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

strong {
  font-size: 14px;
  font-weight: 600;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.setting-item p {
  font-weight: 400;
  font-size: 14px;
}

.setting-item small,
.pomodoro-settings-heading small {
  color: var(--mid-400);
}

.input-number input {
  width: 44px;
  
  text-align: center;
  padding: 7px 7px;
  font-size: 14px;
  border-radius: 8px;
  border: solid 1px black;
}

.input-number {
  display: flex;
  align-items: end;
  gap: 2px;
}

.input-number small {
  font-size: 12px;
  color: var(--mid-600);
}

.switch {
  position: relative;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(184, 184, 184);
  border-radius: 40px;
  transition: 0.5s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  top: 3px;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 50%;
  transition: 0.4s;
}

.switch input:checked + .slider::before{
  transform: translateX(16px);
}

.switch input:checked + .slider {
  background-color: rgba(44, 44, 44, 1);
}

.pomodoro-settings-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.visibility-settings-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.apply-button {
  padding: 8px 16px;
  background-color: rgba(44, 44, 44, 1);
  border: none;
  border-radius: 8px;
  margin-top: 14px;
  cursor: pointer;
}

body.dark-mode {
  background-color: rgb(27, 27, 27);
}

p.dark-mode,
strong.dark-mode,
small.dark-mode,
h1.dark-mode {
  color: rgb(232, 232, 232);
}

.main-heading.dark-mode {
  background-color: rgb(53, 53, 53);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.apply-settings-modal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: rgb(33, 33, 33);
  width: fit-content;
  height: fit-content;
  padding: 24px 32px;
  border-radius: 8px;
  color: rgb(235, 235, 235);
  border: 1px rgb(203, 203, 203) solid;
}

.apply-settings-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
}

.hidden {
  display: none;
}